<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Schedule</title>
  </head>

  <body>


<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <%const daysOfWeek = ['Понедельник','Вторник','Среда','Четверг','Пятница'];%>
    <% for(let i = 0; i < obj.length; i++){%>

      <table class="tg">
        <tr>
          <th class="tg-0lax"></th>
          <th class="tg-0lax"><%=daysOfWeek[i]%></th>
          <th class="tg-0lax"></th>
        </tr>

        <%for(let item = 0; item < obj[i].length; item++){%>
          <%/*const activities = item.find(a=> a.lesson === i+1).activities;*/%>
            <%if(obj[i][item].activities.length > 1){%>
              <tr>
                <td class="tg-0lax"><%=item+1%></td>
                <td class="tg-0lax"><%=obj[i][item].activities[0].name.join(", ")%></td>
                <td class="tg-0lax"></td>
              </tr>
              <tr>
                <td class="tg-0lax"></td>
                <td class="tg-0lax"><%=obj[i][item].activities[1].name.join(", ")%></td>
                <td class="tg-0lax"></td>
              </tr>
          <%}else{%>
              <tr>
                <td class="tg-0lax"><%=item+1%></td>
                <td class="tg-0lax"><%=obj[i][item].activities[0].name.join(", ")%></td>
                <td class="tg-0lax"></td>
            </tr>
          <%};%>
        <%};%>
        </table>
    <%}%>

  </body>
  </html>